<a href="https://colab.research.google.com/github/trajnishBrown/machine-learning/blob/main/titanic_decision_tree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Hello world")

Hello world

In [2]:
from google.colab import files
  
  
uploaded = files.upload()

Saving titanic.csv to titanic.csv

In [4]:
import io
import pandas as pd

df = pd.read_csv(io.BytesIO(uploaded['titanic.csv']))

In [5]:
df.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [13]:
from sklearn.preprocessing import LabelEncoder
le_sex = LabelEncoder()

In [14]:
df["n_Sex"] = le_sex.fit_transform(df['Sex'])
df.head()

   PassengerId  Survived  Pclass  ... Cabin Embarked  n_Sex
0            1         0       3  ...   NaN        S      1
1            2         1       1  ...   C85        C      0
2            3         1       3  ...   NaN        S      0
3            4         1       1  ...  C123        S      0
4            5         0       3  ...   NaN        S      1

[5 rows x 13 columns]

In [23]:
X = df[['Pclass', 'n_Sex', 'Age', 'Fare']]
X.Age = X.Age.fillna(X.Age.mean())

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:5170: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [24]:
y = df['Survived']

In [25]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [26]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()

In [27]:
model.fit(X_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [29]:
model.score(X_test, y_test)

0.7988826815642458